* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #dddbdfd5;
    font-family: 'Inter', sans-serif;
}

header{
    font-family: 'Domine', serif;
    margin-top: 50px;
    padding-bottom: 20px;
}

.container{
    margin: auto 80px;
}

form{
    padding-bottom: 50px;
}

form input{
    font-family: 'Inter', sans-serif;
    font-size: 15px;
    text-align: center;
    border: none;
    border-bottom: 2px solid black;
    height: 35px;
    width: 30%;
}

form button{
    border-radius: 150px;
    border: none;
    width: 32px;
    height: 32px;
    font-size: 25px;
    background: linear-gradient(to bottom, #07058bcb, #020136cb);
    color: #fff;
    margin-left: 5px;
    cursor: pointer;
}

table{
    width: 100%;
    white-space: px;
}

table thead{
    background: linear-gradient(to bottom, #07058bcb, #020136cb);
    height: 40px;
    color: #fff;
    font-weight: lighter;
    font-size: 20px;
}

tbody td{
    background-color: #fff;
    text-align: center;
    padding: 8px;
}
